* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
    

.container {
    width: 60%;
    margin: 15px auto;
}



/* header attributes  */

.logo {
    height: 70px;
}

.logo img {
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid grey;
}

nav {
    padding-top: 40px;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    padding-right: 15px;
    color: rgba(112, 106, 106, 0.904);
}

/* / header attributes  */



main {
    margin-top: 20px;
}



/* main first section attributes */

main .first-section {
    position: relative;
}

main .first-section .banner-container {
    width: 100%;
    position: relative;
}

main .first-section .banner-container .layover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(112, 106, 106, 0.3);
}

main .first-section .banner-container img {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

main .first-section .banner-text {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

main .first-section .banner-text h3 {
    font-size: 30px;
    line-height: 40px;
}

main .first-section .banner-text p {
    font-size: 20px;
}

/* main / first section attributes */



/* main second section attributes */

main section.second-section {
    /* background-color: #0684FC; */
    margin-top: 20px;
    margin-bottom: 20px;
}

main .second-section .main {
    margin-top: 16px;
}

main .second-section .title {
    padding: 20px 0 20px 0;
    font-size: 20px;
}

main .second-section .title p {
    color: rgba(112, 106, 106, 0.904);
}

.paragraph {
    width: calc(100% / 5);
    /* background-color: #82BFFA; */
}

/* main .second-section .paragraph .img-container {
    width: 250px;
} */

/* main .second-section .paragraph.left .img-container {
    width: 250px;
    height: 50px;
} */

/* main .second-section .paragraph.left .img-container {
    height: 100%;
    height: 100%;
} */

main .second-section .paragraph.left .img-container img {
    height: 180px;
}

main .second-section .paragraph.right .img-container img {
    height: 180px;
}


main .second-section .paragraph .img-container img {
    width: 100%;
    object-fit: cover;
}

.paragraph-center {
    width: calc((100% / 5)*3 - 26px);
    /* background-color: #82BFFA; */
    margin: 0 13px 16px 13px;
}

main .second-section .paragraph-center .img-container img {
    height: 180px;
}

main .second-section .paragraph-center .img-container img {
    width: 100%;
    object-fit: cover;
}

.main .img-container {
    position: relative;
}

.main .paragraph .img-container .layover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(112, 106, 106, 0.3);
}

.main .paragraph-center .img-container {
    position: relative;
}

.main .paragraph-center .img-container .layover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(112, 106, 106, 0.3);
}

.paragraph h3, .paragraph-center h3 {
    line-height: 45px;
}

.paragraph p, .paragraph-center p {
    color: rgba(112, 106, 106, 0.904);;
}

.paragraph,
.paragraph-center {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* / main second section attributes */


footer {
    background-color: #8801FE;
    margin-top: 5px;
}